In [1]:
import pandas as pd
import numpy as np

In [2]:
def cal_outliers(lst):
    mn = np.mean(lst)
    sd = np.std(lst)
    final_list = [x for x in lst if (x > mn - 2 * sd)]
    final_list = [x for x in final_list if (x < mn + 2 * sd)]
    list_of_outliers = list(set(lst) - set(final_list))
    #print('outliers:', list_of_outliers)
    return list_of_outliers
cal_outliers([1,1,1])

[1]

In [24]:
df_current = pd.read_csv('pp.csv')
df_past = pd.read_csv('ZEEL_29_Apr_2021.csv')
print(len(df_past.index))
print(len(df_current.index))

700
70

In [25]:
df_past=df_past[df_past['COI'] !=0.0]
print(len(df_past.index))
df_current=df_current[df_current['COI'] !=0.0]
print(len(df_current.index))

169
17

In [26]:
df = pd.concat([df_current, df_past])
print(len(df.index))
df.head()

186

,index,StrikePrice,OptionType,StrTradeDateTime,TradeDateTime,ExpiryDate,StrExpiryDate,OI,COI,IV,VOL
17,17,170.0,PE,13:40,2021-04-01 11:57:29.207846+05:30,4/29/2021,29-Apr-21,3.87,0.30,51.83,192000
21,21,180.0,PE,13:40,2021-04-01 11:57:29.233159+05:30,4/29/2021,29-Apr-21,9.42,-0.03,48.08,129000
23,23,185.0,PE,13:40,2021-04-01 11:57:29.246628+05:30,4/29/2021,29-Apr-21,1.41,-0.03,46.97,24000
28,28,200.0,CE,13:40,2021-04-01 11:57:29.288364+05:30,4/29/2021,29-Apr-21,12.78,-0.27,44.73,426000
29,29,200.0,PE,13:40,2021-04-01 11:57:29.288364+05:30,4/29/2021,29-Apr-21,18.69,-0.06,44.73,396000

In [19]:
import warnings
warnings.filterwarnings("ignore")

In [35]:
def cal_change_OI(df):
    df['OI_change'] = 0
    for i, columnData in enumerate(df['OI']):
        if i == 0:
            df['OI_change'].iloc[i] = None
        else:
            temp = columnData - df['OI'].iloc[i - 1]
            df['OI_change'].iloc[i] = temp
    return df

In [27]:
time = df['StrTradeDateTime'].iloc[0]
time

'13:40'

In [28]:
df_CE = df[df['OptionType'] == 'CE']
df_PE = df[df['OptionType'] == 'PE']
print(len(df_CE.index))
print(len(df_PE.index))

114
72

In [29]:
StrikePriceList = df_CE[df_CE['StrTradeDateTime'] == time]['StrikePrice']
sl = StrikePriceList.to_list()

In [43]:
for s in sl:
    list_to_write = []
    temp = df_CE[df_CE['StrikePrice'] == s]
    print(s)
    if len(temp.index) >= 10:
        temp = temp[:10]
        #calculate new column
        temp = cal_change_OI(temp)
        print(temp.head())
        current_coi = temp['COI'].to_list()[0]
        temp.dropna(inplace=True)
        ll = temp['OI_change'].to_list()
        old_oi_change = ll[0]
        print(old_oi_change)
        list_of_outliers = cal_outliers(ll)
        print(list_of_outliers)
        if len(list_of_outliers) > 0:
            if old_oi_change in list_of_outliers:
                old_coi = temp['COI'].to_list()[0]
                list_to_write = [s, current_coi, old_coi]
                print(list_to_write)
    print('___________________')

200.0
     index  StrikePrice OptionType StrTradeDateTime  \
28      28        200.0         CE            13:40
28      28        200.0         CE            11:57
98      98        200.0         CE            11:08
168    168        200.0         CE            10:56
238    238        200.0         CE            10:43

                        TradeDateTime  ExpiryDate StrExpiryDate     OI   COI  \
28   2021-04-01 11:57:29.288364+05:30   4/29/2021     29-Apr-21  12.78 -0.27
28   2021-04-01 11:57:29.288364+05:30  2021-04-29       29APR21  12.78 -0.27
98   2021-04-01 11:08:54.439742+05:30  2021-04-29       29APR21  12.72 -0.33
168  2021-04-01 10:56:08.212553+05:30  2021-04-29       29APR21  12.69 -0.36
238  2021-04-01 10:43:32.459559+05:30  2021-04-29       29APR21  12.78 -0.27

        IV     VOL  OI_change
28   44.73  426000        NaN
28   44.73  426000       0.00
98   43.88  402000      -0.06
168  45.22  369000      -0.03
238  44.68  351000       0.09
0.0
[-0.20999999999999908]
___________________
205.0
     index  StrikePrice OptionType StrTradeDateTime  \
30      30        205.0         CE            13:40
30      30        205.0         CE            11:57
100    100        205.0         CE            11:08
170    170        205.0         CE            10:56
240    240        205.0         CE            10:43

                        TradeDateTime  ExpiryDate StrExpiryDate    OI   COI  \
30   2021-04-01 11:57:29.300738+05:30   4/29/2021     29-Apr-21  6.30  0.45
30   2021-04-01 11:57:29.300738+05:30  2021-04-29       29APR21  6.30  0.45
100  2021-04-01 11:08:54.453380+05:30  2021-04-29       29APR21  6.12  0.27
170  2021-04-01 10:56:08.224989+05:30  2021-04-29       29APR21  6.09  0.24
240  2021-04-01 10:43:32.473806+05:30  2021-04-29       29APR21  6.00  0.15

        IV     VOL  OI_change
30   45.55  702000        NaN
30   45.55  702000       0.00
100  43.81  636000      -0.18
170  44.37  612000      -0.03
240  44.34  567000      -0.09
0.0
[-0.3000000000000007]
___________________
210.0
     index  StrikePrice OptionType StrTradeDateTime  \
32      32        210.0         CE            13:40
32      32        210.0         CE            11:57
102    102        210.0         CE            11:08
172    172        210.0         CE            10:56
242    242        210.0         CE            10:43

                        TradeDateTime  ExpiryDate StrExpiryDate     OI   COI  \
32   2021-04-01 11:57:29.313119+05:30   4/29/2021     29-Apr-21  16.71 -0.57
32   2021-04-01 11:57:29.313119+05:30  2021-04-29       29APR21  16.71 -0.57
102  2021-04-01 11:08:54.466481+05:30  2021-04-29       29APR21  16.44 -0.84
172  2021-04-01 10:56:08.237902+05:30  2021-04-29       29APR21  16.44 -0.84
242  2021-04-01 10:43:32.487708+05:30  2021-04-29       29APR21  16.71 -0.57

        IV      VOL  OI_change
32   45.31  1770000        NaN
32   45.31  1770000       0.00
102  44.43  1683000      -0.27
172  44.46  1626000       0.00
242  44.71  1536000       0.27
0.0
[1.0200000000000031]
___________________
215.0
___________________
220.0
     index  StrikePrice OptionType StrTradeDateTime  \
36      36        220.0         CE            13:40
36      36        220.0         CE            11:57
106    106        220.0         CE            11:08
176    176        220.0         CE            10:56
246    246        220.0         CE            10:43

                        TradeDateTime  ExpiryDate StrExpiryDate     OI   COI  \
36   2021-04-01 11:57:29.338622+05:30   4/29/2021     29-Apr-21  16.74  0.42
36   2021-04-01 11:57:29.338622+05:30  2021-04-29       29APR21  16.74  0.42
106  2021-04-01 11:08:54.493156+05:30  2021-04-29       29APR21  16.65  0.33
176  2021-04-01 10:56:08.264865+05:30  2021-04-29       29APR21  16.56  0.24
246  2021-04-01 10:43:32.514579+05:30  2021-04-29       29APR21  16.53  0.21

        IV     VOL  OI_change
36   45.48  639000        NaN
36   45.48  639000       0.00
106  45.78  582000      -0.09
176  45.90  552000      -0.09
246  45.96  507000      -0.03
0.0
[]
___________________
225.0
     index  StrikePrice OptionType StrTradeDateTime  \
38      38        225.0         CE            13:40
38      38        225.0         CE            11:57
108    108        225.0         CE            11:08
178    178        225.0         CE            10:56
248    248        225.0         CE            10:43

                        TradeDateTime  ExpiryDate StrExpiryDate    OI   COI  \
38   2021-04-01 11:57:29.351160+05:30   4/29/2021     29-Apr-21  2.25  0.36
38   2021-04-01 11:57:29.351160+05:30  2021-04-29       29APR21  2.25  0.36
108  2021-04-01 11:08:54.506361+05:30  2021-04-29       29APR21  2.22  0.33
178  2021-04-01 10:56:08.277824+05:30  2021-04-29       29APR21  2.22  0.33
248  2021-04-01 10:43:32.527617+05:30  2021-04-29       29APR21  2.22  0.33

        IV     VOL  OI_change
38   45.83  123000        NaN
38   45.83  123000       0.00
108  45.64  111000      -0.03
178  46.84  108000       0.00
248  46.03  105000       0.00
0.0
[]
___________________
230.0
     index  StrikePrice OptionType StrTradeDateTime  \
40      40        230.0         CE            13:40
40      40        230.0         CE            11:57
110    110        230.0         CE            11:08
180    180        230.0         CE            10:56
250    250        230.0         CE            10:43

                        TradeDateTime  ExpiryDate StrExpiryDate     OI   COI  \
40   2021-04-01 11:57:29.363815+05:30   4/29/2021     29-Apr-21  15.51  0.30
40   2021-04-01 11:57:29.363815+05:30  2021-04-29       29APR21  15.51  0.30
110  2021-04-01 11:08:54.519288+05:30  2021-04-29       29APR21  15.57  0.36
180  2021-04-01 10:56:08.290648+05:30  2021-04-29       29APR21  15.60  0.39
250  2021-04-01 10:43:32.540811+05:30  2021-04-29       29APR21  15.54  0.33

        IV     VOL  OI_change
40   47.83  309000        NaN
40   47.83  309000       0.00
110  47.45  270000       0.06
180  48.09  246000       0.03
250  47.39  222000      -0.06
0.0
[]
___________________
235.0
___________________
240.0
___________________
245.0
___________________
260.0
     index  StrikePrice OptionType StrTradeDateTime  \
52      52        260.0         CE            13:40
52      52        260.0         CE            11:57
122    122        260.0         CE            11:08
192    192        260.0         CE            10:56
262    262        260.0         CE            10:43

                        TradeDateTime  ExpiryDate StrExpiryDate    OI   COI  \
52   2021-04-01 11:57:29.441450+05:30   4/29/2021     29-Apr-21  2.43 -0.09
52   2021-04-01 11:57:29.441450+05:30  2021-04-29       29APR21  2.43 -0.09
122  2021-04-01 11:08:54.603545+05:30  2021-04-29       29APR21  2.43 -0.09
192  2021-04-01 10:56:08.368867+05:30  2021-04-29       29APR21  2.43 -0.09
262  2021-04-01 10:43:32.625969+05:30  2021-04-29       29APR21  2.43 -0.09

        IV    VOL  OI_change
52   53.20  72000        NaN
52   53.20  72000        0.0
122  54.32  72000        0.0
192  55.00  66000        0.0
262  55.61  63000        0.0
0.0
[-0.03000000000000025]
___________________

In [55]:
df_CE['StrikePrice'] == 225

28     False
30     False
32     False
34     False
36     False
       ...
662    False
664    False
666    False
674    False
678    False
Name: StrikePrice, Length: 114, dtype: bool